<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app-name</key>
	<string>Tiledesk</string>
	<key>chat-support</key>
	<false/>
	<key>auth-service-host</key>
	<string>https://api.tiledesk.com</string>
	<key>auth-service-path</key>
	<string>/v2/auth/signin</string>
	<key>firebase-custom-token-path</key>
	<string>/v2/chat21/firebase/auth/createCustomToken</string>
</dict>
</plist>
